<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="wrapper">
        <mat-card class="cart-card">
            <mat-card-title>Cart Items</mat-card-title>
            <span class="price-label">Price</span>
            <mat-divider inset></mat-divider>
            <mat-card-content>
                <app-cart-details-list></app-cart-details-list>
            </mat-card-content>
            <mat-card-actions>
                <div class="subtotal">
                    <h3>Subtotal(2 items):</h3>
                    <p class="price">$ 95.00</p>
                    <button mat-raised-button color="primary">Proceed to Checkout</button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
