<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="spinner-container" *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>
  <div class="wrapper" *ngIf="!loading">
    <mat-card class="cart-card">
      <mat-card-title>Cart Items</mat-card-title>
      <span class="price-label">Price</span>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <app-cart-details-list [cartItems]="cart.items"></app-cart-details-list>
      </mat-card-content>
      <mat-card-actions>
        <div class="subtotal">
          <h3>Subtotal({{ cart.items.length }} items):</h3>
          <p class="price">$ {{ cart.total_items | number: "1.2" }}</p>
          <button mat-raised-button color="primary">Proceed to Checkout</button>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
