<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="wrapper">
    <mat-card class="cart-card">
      <mat-card-title>Cart Items</mat-card-title>
      <span class="price-label">Price</span>
      <mat-divider inset></mat-divider>
      <mat-card-content>
        <app-cart-details-list
          [cartItems]="cartItems$ | async"
        ></app-cart-details-list>
      </mat-card-content>
      <mat-card-actions>
        <div class="subtotal">
          <ng-container *ngIf="cartItems$ | async as cartItems">
            <h3>Subtotal({{ cartItems.length }} items):</h3>
            <p class="price">$ {{ cartItems | itemsTotal }}</p>
            <button
              mat-raised-button
              color="primary"
              [disabled]="cartItems.length === 0"
            >
              Proceed to Checkout
            </button>
          </ng-container>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
