<div class="container">
  <div *ngFor="let item of cartItems; let i = index">
    <div class="detail-item">
      <img src="assets/images/image-not-found.png" alt="" />
      <div class="detail-data">
        <div class="row space-between">
          <h2 class="product-name">{{ item.name }}</h2>
          <p class="price">$ {{ item.price | number : '1.2' }}</p>
        </div>
        <div class="row">
          <label>Quantity:</label>
          <div class="quantity-picker">
            <mat-icon
              (click)="
                cartItems[i].quantity =
                  cartItems[i].quantity === 1 ? 1 : cartItems[i].quantity - 1
              "
              >remove</mat-icon
            >
            <input
              [(ngModel)]="cartItems[i].quantity"
              min="1"
              type="number"
              id="input{{ item.id }}"
              disabled
            />
            <mat-icon
              (click)="cartItems[i].quantity = cartItems[i].quantity + 1"
              >add</mat-icon
            >
          </div>
        </div>
        <div class="row">
          <button
            mat-raised-button
            color="warn"
            (click)="deleteCartItem(item.id)"
          >
            Delete <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <mat-divider inset></mat-divider>
  </div>
</div>
