<div class="container">
    <div>
        <div class="detail-item">
            <img src="https://www.pngitem.com/pimgs/m/336-3369823_clip-art-hershey-s-milk-chocolate-hersheys-chocolate.png" alt="">
            <div class="detail-data">
                <div class="row">
                    <h2 class="product-name">Product Name</h2>
                    <p class="price">$ 45.00</p>
                </div>
                <p>Quantity</p>
            </div>
        </div>
        <mat-divider inset></mat-divider>
    </div>
    <div>
        <div class="detail-item">
            <img src="https://gmedia.playstation.com/is/image/SIEPDC/ps4-accessories-ds4-magma-red-screen-01-en-28oct20?$native$" alt="">
            <div class="detail-data">
                <div class="row">
                    <h2 class="product-name">Product Name</h2>
                    <p class="price">$ 50.00</p>
                </div>
                <p>Quantity</p>
            </div>
        </div>
        <mat-divider inset></mat-divider>
    </div>
</div>
