<div class="container">
  <div class="wrapper">
    <div class="spinner-container" *ngIf="loadingProducts || loadingCategories">
      <mat-spinner></mat-spinner>
    </div>
    <div class="products-view" *ngIf="!loadingProducts">
      <div class="products-container">
        <h1>Products</h1>
        <div class="search-bar">
          <label for="nameSearch">Search by name:</label>
          <input type="text" #name id="nameSearch" />
          <button (click)="searchByName(name.value)" class="search-button">
            <mat-icon>search</mat-icon>
          </button>
        </div>
        <div class="content">
          <div class="categories-container">
            <h3>Categories</h3>
            <div class="category">
              <input
                type="radio"
                [(ngModel)]="selectedCategoryFilter"
                name="category"
                id="all"
                [value]="null"
                (change)="getProducts()"
                checked
              />
              <label for="all" class="category-label">All</label>
            </div>
            <div class="category" *ngFor="let category of categories?.data">
              <input
                type="radio"
                [(ngModel)]="selectedCategoryFilter"
                name="category"
                [id]="category.id"
                [value]="category.id"
                (change)="getProducts()"
              />
              <label [for]="category.id" class="category-label">{{
                category.name
              }}</label>
            </div>
          </div>
          <mat-divider
            [vertical]="true"
            style="height: 90%; align-self: center"
          ></mat-divider>
          <div class="grid-container">
            <div *ngIf="productList.data.length === 0" class="not-found">
              Product not found.
            </div>
            <div class="grid-item" *ngFor="let product of productList.data">
              <div class="product-list-item">
                <img
                  [src]="product.image?.url"
                  [alt]="product.name"
                  [routerLink]="['/home/products', product.slug]"
                  onerror="this.src='assets/images/image-not-found.png'"
                />
                <app-like-controls [product]="product"></app-like-controls>
                <h2 [routerLink]="['/home/products', product.slug]">
                  {{ product.name }}
                </h2>
                <p class="description">{{ product.description }}</p>
                <p class="price">
                  Price: $ {{ product.master!.price | number: "1.2" }}
                </p>
                <button
                  mat-raised-button
                  color="primary"
                  (click)="addItemToCart(product.master!.id)"
                  [disabled]="product.master?.stock === 0"
                  [class.not-available]="product.master?.stock === 0"
                >
                  Add to cart <mat-icon>add_shopping_cart</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <mat-paginator
          #paginator
          [length]="totalRows"
          [pageIndex]="currentPage"
          [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions"
          (page)="pageChanged($event)"
          aria-label="Select page"
        >
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
