.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 70px);
  align-items: center;

  .wrapper {
    max-width: 1300px;
    width: 95%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    h1 {
      align-self: center;
    }

    .spinner-container {
      display: flex;
      height: calc(100vh - 70px);
      align-items: center;
      justify-content: center;
    }

    .products-view {
      display: flex;

      h3 {
        margin: 0;
      }

      .categories-container {
        display: flex;
        flex-direction: column;

        h3 {
          font-weight: 600;
        }

        .category {
          label {
            color: #a8a8a8;
            cursor: pointer;
          }

          input[type="radio"] {
            display: none;

            &:checked + .category-label {
              color: black;
              font-weight: 500;
            }
          }
        }
      }

      .products-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        .search-bar {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;
          height: 30px;

          input[type="text"] {
            margin-left: 5px;
            height: 30px;
            border: #a8a8a8 solid 1px;
            border-right: none;
            border-radius: 2px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
          }

          .search-button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: #a8a8a8 solid 1px;
            border-left: none;
            height: 100%;
            cursor: pointer;
          }
        }

        .grid-container {
          display: grid;
          grid-template-columns: repeat(4, minmax(200px, 1fr));
          gap: 20px;
          padding: 15px;
          width: 100%;

          .grid-item {
            .product-list-item {
              width: 100%;
              height: 300px;
              display: flex;
              flex-direction: column;
              align-items: center;

              p {
                padding: 0;
                margin: 0;
              }

              img {
                width: 100%;
                height: 200px;
                object-fit: contain;

                &:hover {
                  cursor: pointer;
                }
              }

              h2 {
                padding: 0;
                margin: 0;
                font-weight: 600;

                &:hover {
                  cursor: pointer;
                  color: #a8a8a8;
                }
              }

              .description {
                color: #a8a8a8;
              }

              .price {
                color: #a8a8a8;
              }

              button {
                width: 100%;

                &.not-available {
                  &::after {
                    content: "Not available 🛇";
                    background-color: #ff4040;
                    color: white;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    cursor: not-allowed;
                  }
                }
              }

              app-like-controls {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
