<div class="container">
  <mat-divider></mat-divider>
  <div class="wrapper">
    <div class="product-img">
      <img
        src="https://www.pngitem.com/pimgs/m/336-3369823_clip-art-hershey-s-milk-chocolate-hersheys-chocolate.png"
        alt=""
      />
    </div>
    <div class="product-information">
      <h1>Name</h1>
      <p>Description</p>
      <p>Category</p>
      <mat-divider></mat-divider>
      <p class="price">$ 4.00</p>
      <div class="row">
        <p>Quantity</p>
        <button>Add to cart</button>
      </div>
    </div>
  </div>
</div>
