<div class="container">
  <div *ngFor="let item of cartItems; let i = index">
    <div class="detail-item">
      <app-imageload
        [image]="getProduct(item.productId)!.image!"
        [routerLink]="['/home/products', item.productId]"
      ></app-imageload>
      <div class="detail-data">
        <div class="row space-between">
          <h2
            class="product-name"
            [routerLink]="['/home/products', item.productId]"
          >
            {{ item.name }}
          </h2>
          <p class="price">$ {{ item.price | number: "1.2" }}</p>
        </div>
        <div class="row">
          <label>Quantity:</label>
          <div class="quantity-picker">
            <mat-icon
              (click)="
                quantity.value = decrement(quantity.value);
                modifyCartItem(i, quantity.value)
              "
              >remove</mat-icon
            >
            <input
              #quantity
              min="1"
              type="number"
              [value]="cartItems![i].quantity"
              disabled
            />
            <mat-icon
              (click)="
                quantity.value = increment(quantity.value);
                modifyCartItem(i, quantity.value)
              "
              >add</mat-icon
            >
          </div>
        </div>
        <div class="row-button">
          <button
            mat-raised-button
            color="warn"
            (click)="deleteCartItem(i)"
            class="delete-button"
          >
            Delete <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </div>
    <mat-divider inset></mat-divider>
  </div>
</div>
