<div class="like-controls">
  <mat-progress-bar
    mode="determinate"
    value="{{
      (likesUp /
        (likesUp + likesDown)) *
        100
    }}"
  ></mat-progress-bar>
  <div class="like-buttons">
    <label
      ><mat-icon class="like-button" (click)="likeProduct()"
        >thumb_up_alt_outline</mat-icon
      >{{ likesUp }}</label
    >
    <label
      >{{ likesDown
      }}<mat-icon class="dislike-button" (click)="dislikeProduct()"
        >thumb_down_alt</mat-icon
      ></label
    >
  </div>
</div>
