<nav class="navbar">
  <div class="brand">
    <img src="assets/images/applaudo_logo.png" alt="Logo" [routerLink]="['/home']"/>
  </div>
  <div class="profile-container">
    <div class="user" [matMenuTriggerFor]="loginMenu" #loginMenuTrigger>
      <p>{{user?.name}}</p>
      <img src="assets/images/user-icon.png" />
      <mat-menu #loginMenu="matMenu">
        <div class="profile-modal">
          <img src="assets/images/user-icon.png" class="profile-img" />
          <div class="profile-details">
            <p class="profile-name">{{user?.name}}</p>
            <p class="profile-email">{{user?.email}}</p>
            <mat-divider></mat-divider>
            <button mat-raised-button color="warn" (click)="logout()">
              Log out
            </button>
          </div>
        </div>
      </mat-menu>
    </div>
    <button class="cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </div>
</nav>

